$text1:"Google Sans", sans-serif;
$text2:"open sans", sans-serif;


$color1: #000000;
$color2: #ffffff;
$color3: #f8f9fa;
$color4: #e9ecef;
$color5: #343a40;
$color6: #adb5bd;           
$color7: #6c757d;
$color8: #495057;
$color9: #212529;
$color10: #007bff;
$color11: #6f42c1;


$p:13.33vmax;
$p_md:7vmax;
$p_base:5vmax;
$p_base_inverse:15vmax 10vmax;
$p_sm:2vmax;
$p_sm_inverse:15vmax 10vmax;
$p_zero:0;